.App {
  text-align: center;
}
.p {
  color: #353636;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headroom {
  /* position: absolute; */
  width: 100%;
  height: 85px;
  left: 0px;
  top: 52px;

  background: #303030;
}
.textBox1 {
  /* position: absolute; */
  width: 1003px;
  height: 288px;
  left: 103px;
  top: 99px;
  text-align: left;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */

  color: #363535;
}
